<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
	"-//mybatis.org//DTD Config 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<typeAlias type="com.itbank.model.MemberDTO" alias="member"/>
		<typeAlias type="com.itbank.model.ConditionDTO" alias="condition"/>
		<typeAlias type="com.itbank.model.MatchDTO" alias="match"/>
		<typeAlias type="com.itbank.model.MessageDTO" alias="msg"/>
		<typeAlias type="com.itbank.model.ReportDTO" alias="report"/>
	</typeAliases>
</configuration>